*{
    box-sizing: border-box;
}

body{
    background-color: blue;
    margin: 0 40px;
    background-image: url(imagenes/posible3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img{
    width: 20%;
}

nav{
    background-color: rgba(253, 12, 253, 0.2);
    height: 100px;
}

nav a{
    border-radius: 25px;
    color: #3fff05;
    text-decoration: none;
}

header{
    background-color: rgba(231, 123, 0, 0.774);
    display: flex;
}

section{
    display: flex;
}

.logo img{
    width: 60px;
    border-radius: 30%;
}

html{
    font-size: medium;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

.galeria{
    margin: 15px 0;
    padding: 15px;
    display: flex;
}
.galeria img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}


